@import 'tailwindcss';

@font-face {
  font-family: 'SkipStandard-Bold';
  src: local('SkipStandard-Bold'), url('./assets/fonts/FOT-Skip Std B.otf');
}

* {
  font-family: 'SkipStandard-Bold', sans-serif;
}

#app {
  background-image: url('./assets/images/Fading_Sky-Sunset_04-1024x512.png');
  background-size: cover;
  background-position: center;
}
